---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-rbac-controller-ggh41th-io-v1alpha1-rbacrule
  failurePolicy: Fail
  name: mrbacrule-v1alpha1.kb.io
  rules:
  - apiGroups:
    - rbac-controller.ggh41th.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - rbacrules
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-rbac-controller-ggh41th-io-v1alpha1-rbacrule
  failurePolicy: Fail
  name: vrbacrule-v1alpha1.kb.io
  rules:
  - apiGroups:
    - rbac-controller.ggh41th.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - rbacrules
  sideEffects: None
