---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - rbac-controller.ggh41th.io
  resources:
  - rbacrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac-controller.ggh41th.io
  resources:
  - rbacrules/finalizers
  verbs:
  - update
- apiGroups:
  - rbac-controller.ggh41th.io
  resources:
  - rbacrules/status
  verbs:
  - get
  - patch
  - update
